<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav id="menu">
            <div>
                <img src="../assets/sena.png" alt="" class="logo_sena">
            </div>
            <div class="title">
                <h1>
                    LIBRERIA SENA
                </h1>
            </div>
            <div id="opti">
                <div class="opciones_links">
                    <a href="register.html" id="log">Register</a>
                    <a href="add.html" id="log">Agregar</a>
                    <a href="modify.html" id="log">Editar</a>
                </div>  
                <div>
                    <input type="search"  id="searchh" placeholder="Buscador">
                </div>
            </div>  
        </nav>
    </header>
</body>
</html>